/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style/main.scss ***!
  \**************************************************************************************************************/
@font-face {
  src: url(.././fonts/stratosskyengweb-regular..woff) format("woff"), url(.././fonts/stratosskyengweb-regular..woff2) format("woff2");
  font-family: "StratosSkyeng";
}
.body {
  font-family: "StratosSkyeng";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background: rgb(0, 73, 128);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

/**
* General style for page layout
* 1. Make page layouts on the sides
*/
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center {
  padding-right: calc(50% - 512px); /* 1 */
  padding-left: calc(50% - 512px); /* 1 */
}

.form {
  font-family: "StratosSkyeng";
  font-weight: 400;
  font-style: normal;
  font-size: 64px;
  line-height: 1.2;
  color: rgb(0, 73, 128);
}

.form__control {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.form__input {
  display: none;
}

.form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 98px;
  height: 98px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.form__label.active {
  box-shadow: 0 0 2px 2px rgb(163, 255, 5);
}

.button {
  border: none;
  border-radius: 12px;
  width: 246px;
  height: 50px;
  font-family: "StratosSkyeng";
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background-color: rgb(122, 193, 0);
  transition: background 0.2s linear;
}
.button:hover {
  background-color: rgb(163, 255, 5);
}
.button:active {
  background-color: rgb(122, 169, 20);
}
.button:disabled {
  background: rgb(222, 230, 232);
  transition: none;
  cursor: no-drop;
}
.button:disabled:hover {
  background: rgb(222, 230, 232);
}

.main {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 480px;
  height: 460px;
  background-color: rgb(194, 245, 255);
}

.main__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 70px;
  gap: 48px;
}

.main__title {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: rgb(0, 73, 128);
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 67px;
}

.main__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main__field {
  width: 100%;
}

.main__field {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(9, 1fr);
  gap: 15px;
}

.card-wrapper {
  grid-column: span 1;
}

.timer {
  display: flex;
  flex-direction: column;
  font-family: "StratosSkyeng";
  font-weight: 400;
  font-style: normal;
}

.timer__text {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 0.5;
  text-align: end;
  gap: 15px;
}

.text {
  flex: 1;
  padding-right: 5px;
}

.timer__time {
  font-size: 64px;
  line-height: 72px;
}

.card-wrapper {
  width: 83px;
  height: 121px;
  perspective: 500px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.2s linear;
}

.card-wrapper:hover .card {
  transform: rotateY(180deg);
}

.card-back,
.card-front {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-size: cover;
  backface-visibility: hidden;
}

.card-front {
  padding: 6px;
  background: rgb(255, 255, 255);
}

.card__img {
  width: 100%;
  height: 100%;
  background-color: rgb(228, 251, 255);
  object-fit: cover;
}

.card-back {
  background: rgb(228, 251, 255) url(../images/b547c6039554a0ba9a84.png) center no-repeat;
  transform: rotateY(180deg);
}

.main-page {
  width: 100%;
  height: 100%;
  background: none;
}

.main__inner-game-page {
  padding: 22px 23px;
  width: 100%;
  height: 100%;
  gap: 15px;
}
