.form {
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  color: $congress-blue;
}

.form__control {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.form__input {
  display: none;
}

.form__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98px;
  height: 98px;
  border-radius: 12px;
  text-align: center;
  background-color: $white;

  &.active {
    box-shadow: 0px 0px 2px 2px $lime;
  }
}
