// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font-family
$text-font-stack: "StratosSkyeng";

/// Copy color
$black: rgb(0 0 0);
$white: rgb(255 255 255);
$congress-blue: rgb(0 73 128);
$congress-blue-opacity: rgb(0 73 128 / 90%);
$lochmara: rgb(0 128 193);
$onahau: rgb(194 245 255);
$bubbles: rgb(228 251 255);
$limeade: rgb(122 193 0);
$lime: rgb(163 255 5);
$christi: rgb(122 169 20);
$geyser: rgb(222 230 232);