// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font-family
$text-font-stack: "StratosSkyeng";

/// Copy color
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$congress-blue: rgb(0, 73, 128);
$lochmara: rgb(0, 128, 193);
$onahau: rgb(194, 245, 255);
$limeade: rgb(122, 193, 0);
