.main {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 460px;
  border-radius: 12px;
  background-color: $onahau;
}

.main__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  padding: 48px 70px;
}

.main__title {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  color: $congress-blue;
}

.main__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;
}
