.main {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 480px;
  height: 460px;
  background-color: $onahau;
}

.main__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 70px;
  gap: 48px;
}

.title {
  @include font;
}

.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 67px;
}

.main__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main__field {
  width: 100%;
}
