/**
* General style for page layout
* 1. Make page layouts on the sides
*/
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center {
  padding-left: calc(50% - 512px); /* 1 */
  padding-right: calc(50% - 512px); /* 1 */
}
